{% extends '__base__.html' %}

{% block title %}查询Ex{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-1-1">
    {% for device in devices %}
        <article class="uk-article">
            <table border="2">
            <tr>
                <td> <b>idenf:</b> {{ device.idenf }} </td>
                <td> <b>id:</b> {{ device.id }} </td>
                <td> <b>ref:</b> {{ device.ref }} </td>
            </tr>
            <tr>
                <td> <b>density:</b> {{ device.density }} </td>
                <td> <b>dpi:</b> {{ device.dpi }} </td> 
                <td> <b>scaleDensity:</b> {{ device.scaleDensity }} </td>
                <td> <b>bestProvider:</b> {{ device.bestProvider }} </td>
                <td> <b>gclGetCid:</b> {{ device.gclGetCid }} </td>
                <td> <b>gclGetLac:</b> {{ device.gclGetLac }} </td>
                
            </tr>

            <tr>
                <td> <b>gclGetPsc:</b> {{ device.gclGetPsc }}</td>
                <td> <b>cellLocation:</b> {{ device.cellLocation }}</td>
                <td> <b>deviceId:</b> {{ device.deviceId }}</td>
                <td> <b>androidid:</b> {{ device.androidid }}</td>
                <td> <b>networkOperator:</b> {{ device.networkOperator }}</td>
                <td> <b>networkOperatorName:</b> {{ device.networkOperatorName }}</td>
                
            </tr>

            <tr>
                <td> <b>networkType:</b> {{ device.networkType }}</td>
                <td> <b>simSerialNumber:</b> {{ device.simSerialNumber }}</td>
                <td> <b>simOperator:</b> {{ device.simOperator }}</td>
                <td> <b>simOperatorName:</b> {{ device.simOperatorName }}</td>
                <td> <b>subscriberId:</b> {{ device.subscriberId }}</td>
                <td> <b>getSerial:</b> {{ device.getSerial }}</td>
                
            </tr>

            <tr>
                <td> <b>dataActivity:</b> {{ device.dataActivity }}</td>
                <td> <b>board:</b> {{ device.board }}</td>
                <td> <b>brand:</b> {{ device.brand }}</td>
                <td> <b>bootloader:</b> {{ device.brand }}</td>
                <td> <b>display:</b> {{ device.display }}</td>
                <td> <b>device:</b> {{ device.device }}</td>
            </tr>

            <tr>
                <td> <b>fingerPrint:</b> {{ device.fingerPrint }}</td>
                <td> <b>hardwear:</b> {{ device.hardwear }}</td>
                <td> <b>manufacturer:</b> {{ device.manufacturer }}</td>
                <td> <b>model:</b> {{ device.model }}</td>
                <td> <b>product:</b> {{ device.product }}</td>
                <td> <b>relea:</b>  {{ device.relea }}</td>
            </tr>

            <tr>
                <td> <b>sdk:</b> {{ device.sdk }}</td>
                <td> <b>sdkInt:</b> {{ device.sdkInt }}</td>
                <td> <b>extraInfo:</b>{{ device.extraInfo }}</td>
                <td> <b>reason:</b> {{ device.reason }}</td>
                <td> <b>subType:</b> {{ device.subType }}</td>
                <td> <b>subTypeName:</b> {{ device.subTypeName }}</td>
            </tr>

            <tr>
                <td> <b>type:</b> {{ device.type }}</td>
                <td> <b>typeName:</b> {{ device.typeName }}</td>
                <td> <b>macAddress:</b> {{ device.macAddress }}</td>
                <td> <b>bssid:</b> {{ device.bssid }}</td>
                <td> <b>ipAddress:</b> {{ device.ipAddress }}</td>
                <td> <b>networkId:</b> {{ device.networkId }}</td>
                
            </tr>

            <tr>
                <td> <b>ssid:</b> {{ device.ssid }} </td>
                <td> <b>rssi:</b> {{ device.rssi }}</td>
                <td> <b>widthPixels:</b> {{ device.widthPixels }}</td>
                <td> <b>heightPixels:</b> {{ device.heightPixels}}</td>
                <td> <b>width:</b> {{ device.width }}</td>
                <td> <b>height:</b> {{ device.height }}</td>
                
            </tr>

            <tr>
                <td> <b>rotation:</b> {{ device.rotation }}</td>
                <td> <b>version:</b> {{ device.version }}</td>
                <td> <b>line1Number:</b> {{ device.line1Number }}</td>
                <td> <b>tags:</b> {{ device.tags }}</td>
                <td> <b>phoneTime:</b> {{ device.phoneTime }}</td>
                <td> <b>phoneType:</b> {{ device.phoneType }}</td>
                
            </tr>

            <tr>
                <td> <b>phoneUser:</b>  {{ device.phoneUser }}</td>
                <td> <b>host:</b> {{ device.host }}</td>
                <td> <b>radioVersion:</b> {{ device.radioVersion }}</td>
                <td> <b>codeName:</b> {{ device.codeName }}</td>
                <td> <b>incremental:</b> {{ device.incremental }}</td>
                <td> <b>buildID:</b> {{ device.buildID }}</td>
            </tr>

           </table>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
    </div>


{% endblock %}
